<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874867324676-gk7f7bgrl53nd5s0d0ngvkvfg3vkkeko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874867324676-gk7f7bgrl53nd5s0d0ngvkvfg3vkkeko</string>
	<key>API_KEY</key>
	<string>AIzaSyDfR4k2FayzH0JNwgolLKVfTtBAk-lvKks</string>
	<key>GCM_SENDER_ID</key>
	<string>874867324676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pro.tambovtsev.InstagramSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>swiftui-instagram-7ad9e</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-instagram-7ad9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874867324676:ios:c817ebf273c9373f6e0251</string>
</dict>
</plist>